:root {
  --font_cursive: "MonteCarlo", cursive;
  --font_text: "Playfair Display", serif;
  --color_primary: #caa257;
  --color_secundary: #322a38;
  --color_bg: #eae5ea;
}

body {
  font-family: var(--font_text);
  font-size: 22px;
  color: #222222;
  line-height: 1.25;
}

.my_container {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.max_h_img {
  max-height: 85px;
}

.my-6 {
  margin: 6.25rem auto;
}

.c_primary {
  color: var(--color_primary);
}

.line_divisor {
  text-align: center;
  padding: 0 1rem;
}
.line_divisor img {
  width: 100%;
}

.lightSlider img {
  width: 100%;
}

.btn {
  font-family: "roboto";
  font-size: 1.1rem;
  border-radius: 2rem;
  border: 0;
  padding: 0.5rem 1.5rem;
}

.btn-primary {
  background-color: var(--color_primary);
}
.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
  background: var(--color_primary);
  opacity: 0.8;
  box-shadow: none;
}

.btn-secundary {
  background-color: var(--color_secundary);
  color: #fff !important;
}
.btn-secundary:focus, .btn-secundary:active, .btn-secundary:hover {
  background: var(--color_secundary);
  opacity: 0.8;
  box-shadow: none;
}

.fnt_cursive {
  font-family: var(--font_cursive);
}

.ttl_cursive_section {
  font-family: var(--font_cursive);
  font-size: 5.75rem;
  font-weight: 550;
  line-height: 1.1;
}

.ttl_text_section {
  font-family: var(--font_text);
  text-transform: uppercase;
  font-size: 1.4rem;
}

.trans {
  transition: 0.5s cubic-bezier(0.2, 0.61, 0.41, 0.95);
}

.mobile_confirm_assis {
  font-family: "roboto";
  position: fixed;
  bottom: -100%;
  left: 0;
  z-index: 9;
  padding: 0 0.5rem;
  width: 100%;
}
.mobile_confirm_assis.confirm_up {
  bottom: 15px;
}
.mobile_confirm_assis .sec_confirm_assis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  padding: 1rem 0.75rem;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  gap: 15px;
}
.mobile_confirm_assis .sec_confirm_assis p {
  line-height: 1;
  margin-bottom: 0;
  font-size: 1rem;
}
.mobile_confirm_assis .sec_confirm_assis .box_btns_confirm {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.mobile_confirm_assis .sec_confirm_assis .box_btns_confirm .btn {
  font-size: 0.95rem;
}

.wrapper_home_slide {
  text-align: center;
  min-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
}
.wrapper_home_slide::after {
  content: "";
  background: black;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 95%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
}
.wrapper_home_slide .content_home {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;
  z-index: 1;
  color: #fff;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
.wrapper_home_slide .content_home .ttl_cursive_section {
  font-size: 6rem;
}
.wrapper_home_slide .content_home .name_novios {
  font-size: 7.5rem;
  margin-top: 150px;
}

.wrapper_presentations {
  background: var(--color_bg);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 8rem;
}
.wrapper_presentations .drawer_confirm_assis {
  position: relative;
  top: -65px;
}
.wrapper_presentations .drawer_confirm_assis .sec_confirm_assis {
  background: #fff;
  text-align: center;
  max-width: 980px;
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 0 auto;
  border-radius: 25rem;
}
.wrapper_presentations .container_presentations {
  text-align: center;
  padding: 0 1rem;
  padding-top: 4rem;
  background: cadetblue;
  max-width: 700px;
  margin: 0 auto;
}
.wrapper_presentations .container_presentations .picture_novios {
  width: 100%;
}
.wrapper_presentations .container_presentations .names_presentations {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.wrapper_presentations .container_presentations .names_presentations .names {
  color: var(--color_primary);
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1;
}
.wrapper_presentations .container_presentations .names_presentations img {
  max-height: 120px;
}

.wrapper_break.b_one {
  background: url(../imgs/bg_one.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  background-position: center center;
  padding: 1rem;
}
.wrapper_break.b_one .contain_break_one {
  background: #fff;
  max-width: 650px;
  text-align: center;
  width: 100%;
  margin: 16rem auto;
  box-shadow: 0 0px 0 15px rgba(255, 255, 255, 0.35);
  padding: 3rem 1rem;
}
.wrapper_break.b_two {
  background: url(../imgs/bg_two.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  background-position: center center;
  min-height: 500px;
}
.wrapper_break.b_three {
  background: url(../imgs/bg_three.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  background-position: center center;
  padding: 1rem;
}
.wrapper_break.b_three .contain_break_one {
  background: #fff;
  max-width: 650px;
  text-align: center;
  width: 100%;
  margin: 15rem auto;
  box-shadow: 0 0px 0 15px rgba(255, 255, 255, 0.35);
  padding: 3rem 1rem;
}

.wrapper_parents {
  background: var(--color_bg);
}
.wrapper_parents .ttl_sec_godparents {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0 0 100% 100%;
  text-align: center;
  padding: 4rem 0;
}
.wrapper_parents .ttl_sec_godparents .ico {
  max-height: 100px;
}
.wrapper_parents .ttl_sec_godparents .ttl_text_section {
  margin-top: 2rem;
}
.wrapper_parents .row_parents {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 6rem;
}
.wrapper_parents .row_parents .cols {
  text-align: center;
}
.wrapper_parents .row_parents .cols img {
  max-height: 70px;
}

.wrapper_godparents {
  background: var(--color_bg);
  text-align: center;
  padding-bottom: 8rem;
}
.wrapper_godparents .content_godparents {
  padding: 5rem 0;
}
.wrapper_godparents .content_godparents .row_godparents {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.wrapper_godparents .content_godparents .row_godparents .cols {
  background: #f2eff2;
  padding: 1rem 2rem;
  max-width: 300px;
  width: 100%;
}

.wrapper_wedding_date {
  display: flex;
  justify-content: space-between;
}
.wrapper_wedding_date .sec_bg_wedding_date {
  width: 100%;
  background: url(../imgs/bg_date.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}
.wrapper_wedding_date .sec_date_wedding {
  width: 100%;
  text-align: center;
}
.wrapper_wedding_date .sec_date_wedding .bg_ico {
  padding: 1rem 0;
  background: #eae5ea;
  background: linear-gradient(180deg, #eae5ea 50%, white 50%);
}
.wrapper_wedding_date .sec_date_wedding .contain_info_date {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.wrapper_wedding_date .sec_date_wedding .contain_info_date img {
  max-height: 550px;
}

.wrapper_location {
  text-align: center;
  margin-bottom: 6rem;
}
.wrapper_location.ceremony {
  margin-top: 7rem;
}
.wrapper_location .my_container .bi {
  font-size: 3rem;
}

.wrapper_break_location {
  background: url(../imgs/bg_location.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
}

.wrapper_dresscode {
  text-align: center;
}
.wrapper_dresscode .sec_dresscode {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  margin-top: 4rem;
}
.wrapper_dresscode .sec_dresscode .item_dresscode {
  background: #f2eff2;
  max-width: 300px;
  width: 100%;
  padding: 2rem 0;
}
.wrapper_dresscode .sec_dresscode .item_dresscode img {
  max-height: 90px;
}

.wrapper_lodging {
  text-align: center;
  margin-top: 4rem;
}
.wrapper_lodging .bi {
  font-size: 3rem;
}
.wrapper_lodging p {
  max-width: 400px;
  width: 100%;
  margin: 3rem auto;
}

.wrapper_galery {
  background: var(--color_bg);
  margin-top: 9rem;
  padding-bottom: 8rem;
  text-align: center;
}
.wrapper_galery .ttl_galery {
  margin-bottom: 3rem;
}
.wrapper_galery .ttl_galery > div {
  background: linear-gradient(180deg, white 50%, #eae5ea 50%);
}

.wrapper_gift_table {
  background: var(--color_bg);
  text-align: center;
}
.wrapper_gift_table .bi {
  font-size: 5rem;
}
.wrapper_gift_table .ttl_gift {
  margin-bottom: 3rem;
}
.wrapper_gift_table .sec_item_gift {
  margin-bottom: 4rem;
  display: block;
  text-decoration: none;
  color: #222222;
}
.wrapper_gift_table .sec_item_gift img {
  max-width: 80%;
}
.wrapper_gift_table .sec_contain_sobres {
  margin-top: 5rem;
}
.wrapper_gift_table .sec_contain_sobres .sec_card_debit {
  display: flex;
  justify-content: center;
  padding: 2rem 0 7rem;
}
.wrapper_gift_table .sec_contain_sobres .sec_card_debit .box_card_debit {
  background: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
}
.wrapper_gift_table .sec_contain_sobres .sec_card_debit .box_card_debit .card_debit {
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  border: 2px solid #333;
}

.wrapper_itinerary {
  text-align: center;
  padding: 5rem 0 8rem;
  background-color: var(--color_bg);
}
.wrapper_itinerary .sec_items_itinerary {
  margin-bottom: 3rem;
}
.wrapper_itinerary .sec_items_itinerary .box_item_itenerary {
  background: #fff;
  max-width: 300px;
  margin: 0 auto;
  padding: 2rem;
}
.wrapper_itinerary .sec_items_itinerary .box_item_itenerary img {
  max-height: 80px;
}
.wrapper_itinerary .sec_items_itinerary .box_item_itenerary .ttl_text_section {
  font-weight: 600;
  font-size: 2rem;
  text-transform: lowercase;
  margin-top: 1rem;
}

.wrapper_hashtag {
  display: flex;
  justify-content: space-between;
}
.wrapper_hashtag .bg_social_media {
  width: 100%;
  background: url(../imgs/bg_instagran.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.wrapper_hashtag .info_social_media {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}
.wrapper_hashtag .info_social_media .contain_info_social {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.wrapper_hashtag .info_social_media .contain_info_social img {
  max-height: 550px;
}
.wrapper_hashtag .info_social_media .contain_info_social a {
  color: #222222;
}

.wrapper_personal_inv {
  background: url(../imgs/bg_instagran.png) no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrapper_dayfree {
  text-align: center;
  margin: 6rem 0 4rem;
}
.wrapper_dayfree img {
  max-height: 150px;
}

.wrapper_footer {
  text-align: center;
}
.wrapper_footer .picture_foot {
  background: linear-gradient(180deg, white 50%, #322a38 50%);
}
.wrapper_footer .picture_foot img {
  max-height: 450px;
}
.wrapper_footer .content_foot {
  background: #322a38;
  padding: 3rem 0;
  padding-bottom: 8rem;
  color: #fff;
}
.wrapper_footer .content_foot h5 {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .wrapper_home_slide .content_home .name_novios {
    font-size: 6rem;
    margin-top: 150px;
  }

  .wrapper_parents .row_parents {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0 6rem;
  }

  .wrapper_wedding_date {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .wrapper_wedding_date .sec_bg_wedding_date {
    min-height: 650px;
  }
  .wrapper_wedding_date .sec_date_wedding {
    margin-top: -55px;
  }
  .wrapper_wedding_date .sec_date_wedding .bg_ico {
    background: transparent;
  }

  .wrapper_hashtag {
    flex-direction: column;
  }
  .wrapper_hashtag .bg_social_media {
    min-height: 275px;
  }
}
@media screen and (max-width: 660px) {
  .mobile_confirm_assis.confirm_up {
    bottom: 0;
  }
  .mobile_confirm_assis .sec_confirm_assis {
    flex-direction: column;
    border-radius: 1rem 1rem 0 0;
  }
  .mobile_confirm_assis .sec_confirm_assis .box_btns_confirm {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .mobile_confirm_assis .sec_confirm_assis .box_btns_confirm .btn {
    line-height: 1.2;
  }
}
@media screen and (max-width: 580px) {
  .wrapper_presentations .drawer_confirm_assis .sec_confirm_assis {
    border-radius: 2rem;
  }

  .wrapper_presentations .container_presentations .names_presentations {
    padding-top: 2rem;
    flex-direction: column;
  }
  .wrapper_presentations .container_presentations .names_presentations img {
    margin: 1rem 0;
  }

  .wrapper_break.b_one {
    padding: 1rem;
  }
  .wrapper_break.b_one .contain_break_one {
    margin: 12rem auto;
  }

  .wrapper_break.b_three {
    background-position: center right;
  }

  .wrapper_parents .ttl_sec_godparents {
    padding: 4rem 0 8rem;
  }
  .wrapper_parents .row_parents {
    flex-direction: column;
  }
  .wrapper_parents .row_parents .cols {
    margin-bottom: 5rem;
  }
  .wrapper_parents .row_parents .cols:last-child {
    margin-bottom: 1rem;
  }

  .wrapper_godparents {
    padding-bottom: 3rem;
  }
  .wrapper_godparents .content_godparents .row_godparents {
    align-items: center;
    flex-direction: column;
  }
  .wrapper_godparents .content_godparents .row_godparents .cols {
    margin-bottom: 3rem;
  }
  .wrapper_godparents .content_godparents .row_godparents .cols:last-child {
    margin-bottom: 0;
  }

  .wrapper_dresscode .ttl_cursive_section {
    line-height: 0.8;
  }
  .wrapper_dresscode .sec_dresscode {
    flex-direction: column;
    align-items: center;
  }
  .wrapper_dresscode .sec_dresscode .item_dresscode {
    margin-bottom: 3rem;
  }

  .wrapper_presentations .container_presentations .picture_novios {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .mobile_confirm_assis .sec_confirm_assis {
    padding: 0.75rem;
  }
  .mobile_confirm_assis .sec_confirm_assis .box_btns_confirm {
    display: flex;
    justify-content: center;
  }
  .mobile_confirm_assis .sec_confirm_assis .box_btns_confirm .btn {
    font-size: 0.95rem;
    line-height: 1.2;
    padding-left: 10px;
    padding-right: 10px;
  }

  .ttl_cursive_section {
    font-size: 4.5rem !important;
  }

  .wrapper_location.ceremony {
    margin-top: 4rem;
  }

  .wrapper_galery {
    background: var(--color_bg);
    margin-top: 7rem;
    padding-bottom: 5rem;
    text-align: center;
  }

  .wrapper_home_slide .content_home .name_novios {
    font-size: 5.5rem;
    margin-top: 100px;
  }

  .wrapper_parents .ttl_sec_godparents {
    border-radius: 0 0 40% 40%;
  }

  .wrapper_wedding_date .sec_date_wedding .contain_info_date img {
    max-height: 425px;
  }

  .wrapper_gift_table .sec_item_gift img {
    max-width: 100%;
  }

  .wrapper_footer .picture_foot img {
    max-height: 300px;
  }
}
@media screen and (max-width: 380px) {
  .btn {
    width: 100%;
  }

  .mobile_confirm_assis .sec_confirm_assis {
    flex-direction: column;
    border-radius: 2rem 2rem 0 0;
  }
  .mobile_confirm_assis .sec_confirm_assis .box_btns_confirm {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
  }
  .mobile_confirm_assis .sec_confirm_assis .box_btns_confirm .btn span {
    display: block;
  }
}